.ui-widget-overlay {background: rgba(0, 0, 0, .25);	opacity: 1 !important;filter: alpha(opacity = 100) !important;z-index: 940 !important}
.ui-jqgrid .loading {position: absolute;top: 45%;left: 45%;width: auto;height: auto;z-index: 101;padding: 6px;margin: 5px;
	                 text-align: center;font-weight: 700;font-size: 12px;background-color: #FFF;border: 2px solid #8EB8D1;
					 color: #E2B018;}
.ui-jqgrid{
	height:100%;
}
.ui-jqgrid .ui-jqgrid-view {
	height:100%;border-top:none;
	font-size: 12px;
}
.ui-jqgrid .ui-jqgrid-view table{
	border-collapse:separate;
}
.ui-jqgrid .ui-jqgrid-view .ui-jqgrid-bdiv table{
	border-top:none;
}

.ui-jqgrid .ui-jqgrid-bdiv{
	height:90% !important;
	overflow-y:auto !important;
} 
.ui-jqgrid-view>.ui-jqgrid-titlebar {height: 40px;line-height: 24px;color: #FFF;background: #307ecc;padding: 0;font-size: 15px;}
.ui-jqgrid-titlebar {position: relative;top: 1px;z-index: 1}
.ui-jqgrid .ui-jqgrid-titlebar-close {top: 10%;height: auto;padding: 0;margin: 2px 8px 0 0;text-align: center;border-radius: 4px}
.ui-jqgrid .ui-jqgrid-title {float: left;margin: 8px;}
.ui-jqgrid .ui-jqgrid-labels{height: 32px;}
.ui-jqgrid .ui-jqgrid-labels th {text-align: left !important;padding:0 !important}
.ui-jqgrid .ui-jqgrid-labels th:first-child{width:25px !important;padding:0;}
.table-bordered,td,th {border-radius: 0 !important;}
.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {height: 32px !important;}
/* .ui-jqgrid .ui-jqgrid-htable th div {overflow: visible;} */
.ui-jqgrid .ui-jqgrid-htable th div {height: 32px;line-height: 32px;font-weight:bolder;}
.ui-jqgrid-sortable {padding-left: 8px;font-size: 14px;font-weight: normal;}
.ui-state-disabled {color: #BBB;}
.ui-jqgrid tr.ui-row-ltr td,.ui-jqgrid tr.ui-row-rtl td {
	padding: 7px 8px 7px 8px;
    font-size: 13px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-jqgrid-btable .ui-widget-content:nth-child(odd){
	border:none;    outline: none;
}
.ui-jqgrid-btable .ui-widget-content:nth-child(even){
	border:none;    outline: none;
}

.bigger-140 {font-size: 140% !important;}
.ColTable{width: 100%;}
.ColTable tr{height: 35px;line-height: 35px;}

#jqgh_myTab_cb{text-align: center;margin-left:2px;}
#input_pager{color: #ffffff;width: 120px;text-align: center;}
#input_pagers{color: #ffffff;width: 120px;text-align: center;}
#input_landpager{color: #ffffff;width: 120px;text-align: center;}

.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary{background:#fff}
.ui-jqgrid-btable .ui-widget-content.ui-state-hover{background-color: #FAFAFA;}
.ui-jqgrid-btable .ui-widget-content.ui-state-highlight{background: #FAFAFA}
/* .ui-jqgrid .ui-jqgrid-htable th div{text-align:center} */
.ui-jqgrid tr.ui-row-ltr td {
	/* text-align: center; */
	border:0px;
}
.ui-jqgrid tr.ui-row-ltr td:first-child{
	width:25px !important;
}

.fm-button:hover{background-color: #fff;color: #224e74;}

@media screen and (min-width:1366px){
	.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content {height: 308px;}
}

@media screen and (min-width:1440px){
	.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content {height: 430px;}
}

@media screen and (min-width:1920px){
	.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content {height: auto;}
}
th{
	text-align: left;
}
.ui-jqgrid-btable input{
	padding:6px
}
.list_jqgrid input[type="checkbox"]{
  -webkit-appearance: none;
}
.list_jqgrid input[type="checkbox"] {
  	-webkit-appearance: none;
 	width: 15px;
	height: 15px;
	float: left;
	cursor: pointer;
	text-align: center;
	background: url(../../../images/checkbox_false.png) no-repeat center;
  	vertical-align: middle;
}
.list_jqgrid input[type="checkbox"]:checked {
	background: url(../../../images/form_checkbox_true.png) no-repeat center;
}
.list_jqgrid input[type="checkbox"]:focus,
.list_jqgrid input[type="checkbox"]:hover {
  	outline: none;
  	box-shadow:none;
}
.list_jqgrid .ui-jqgrid-hbox input[type="checkbox"].cbox,.list_jqgrid1 .ui-jqgrid-hbox input[type="checkbox"].cbox{
	margin-top:10px;margin-left:8px;margin-right:10px;
}

.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td{
	color:rgba(0,0,0,0.7)
}
.ui-jqgrid .ui-jqgrid-hdiv{
	background:none;
}
.ui-jqgrid-sortable{
	color:rgba(0,0,0,0.7)
}
.ui-jqgrid-sortable:hover {
    color: rgba(0,0,0,0.7);
}
th[aria-selected=true] .ui-jqgrid-sortable {
    color: rgba(0,0,0,0.7);
}
/*待审核的*/
.audit .ui-jqgrid tr.jqgrow td:last-child{
	color:#fff;cursor: pointer;
	border-radius:5px;overflow: hidden;padding: 0
}
.list_jqgrid1{
	height:87%;overflow-y: auto;overflow-x: hidden;
}

/*cpu*/
.cpu .ui-jqgrid-hbox #myTabCPU_cb{
	opacity:0;
}
.cpu .ui-jqgrid tr.ui-row-ltr td:first-child{
	opacity:0;
}
.cpu .ui-jqgrid tr.ui-row-ltr td:nth-child(5){
	padding:0;
}
.list_jqgrid1 .ui-jqgrid .ui-jqgrid-hdiv{
	background:#F3F4F8;
}
/*我负责的设备*/
.cpu .ui-jqgrid-hbox #myTabMine_cb{
	opacity:0;
}
.ui-jqgrid #myTabMine tr.jqgrow td[title='正常']{
	color:#47BB7E;
}
.ui-jqgrid #myTabMine tr.jqgrow td[title='凭证异常']{
	color:#FAAD5B;
}
.ui-jqgrid #myTabMine tr.jqgrow td[title='告警']{
	color:#FA5A5A;
}
.ui-jqgrid #myTabMine tr.jqgrow td[title='离线']{
	color:#7F7F7F;
}

/*个人工作台*/
.cpu .ui-jqgrid-hbox #myTabMine1_cb{
	opacity:0;
}
#gview_myItcompTab .ui-jqgrid-bdiv,#gview_taskTab .ui-jqgrid-bdiv{
	height:82% !important;
}

/*知识库*/
.zhishiku td{
	border-bottom:1px solid #E2E2E2;
}
.zhishiku .ui-jqgrid tr.ui-row-ltr td{
	border-bottom:1px solid #E2E2E2;
}
.xiangqingList1 .list_jqgrid .ui-jqgrid tr.ui-row-ltr td{
	border-bottom:1px solid #E2E2E2;
}
.xiangqingList1 .list_jqgrid .ui-jqgrid tr.ui-row-ltr td:first-child,#myTabGongdan_cb{
	border-left:1px solid #E2E2E2;
}
.xiangqingList1 .list_jqgrid .ui-jqgrid tr.ui-row-ltr td:last-child,#myTabGongdan_E_Time{
	border-right:1px solid #E2E2E2;
}
.xiangqingList1 .list_jqgrid #jqgh_myTabGongdan_cb{
	display:none;
}
.xiangqingList1 .ui-jqgrid tr.ui-row-ltr td:first-child input{
	opacity:0;
}
.xiangqingList1 .ui-jqgrid .ui-jqgrid-labels th{
	border-top:1px solid #E2E2E2;
	border-bottom:1px solid #E2E2E2;
}
.xiangqingList1 .ui-jqgrid-btable .ui-widget-content.ui-state-hover{background-color: #fff;}
.xiangqingList1 .ui-jqgrid-btable .ui-widget-content.ui-state-highlight{background: #fff}

/*自动发现*/
.list_jqgrid_auto .ui-jqgrid-view{
	border:1px solid #E2E2E2;
}
.list_jqgrid_auto tr.ui-widget-content td{
	border-top:1px solid #E2E2E2;
}

/* 分页 */
.ui-jqgrid .ui-jqgrid-pager {
    line-height: 15px;
    height: 35px;
    background-color: transparent !important;
    border: none !important;
    padding: 0px !important;
}
.ui-jqgrid .ui-pager-control {height: 35px;}
.ui-pg-table tr td .ui-paging-info {
    color: rgba(0,0,0,0.7) !important;
}
.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon {
    border: 1px solid #3598DB !important;
    border-radius: 0;
    width: 22px;
    background-color:#f8f8f8 !important;
    color:#3598DB;  
    display: inline-block;
    padding: 0;
    height: 24px;
    line-height: 22px;
    text-align: center;
    position: static;
    float: none;
    margin: 0 2px !important;
}
.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:hover{
	border: 1px solid #3598DB !important;
	color:#3598DB
}
.ui-pg-table>tbody>tr>.ui-pg-button.ui-state-disabled .ui-icon{
	border: 1px solid #C0C0C0 !important;
	color:#B9B9B9;
}
.ui-jqgrid .ui-pg-input{
	height:24px;line-height:20px;
	background:#f8f8f8;
	width: 24px;
	text-align:center;
}
.ui-jqgrid .ui-pg-table td{
	border:0
}
.ui-pg-input[type="text"]:hover, .ui-pg-input[type="text"]:focus{
	color:#3598DB;border-color:#3598DB
}
.ui-pg-selbox{
	background:#f8f8f8
}
select.ui-pg-selbox:hover,select.ui-pg-selbox:focus{
	border-color:#3598DB
}
.ui-jqgrid .ui-pg-button .ui-separator{
	border-color:#3598DB
}
/* 公告管理 */
input[type="checkbox"]#cb_notice_table{
	margin-left:8px !important;
}
/* 事件管理 */
.list_jqgrid .ui-jqgrid-hbox #jqgh_myTab_cb input[type="checkbox"].cbox{
	margin-left:6px;
}
/* 服务台任务 */
input[type="checkbox"]#cb_myTab1{
	margin-left:8px !important;
}
input[type="checkbox"]#cb_myTab2{
	margin-left:8px !important;
}
input[type="checkbox"]#cb_myTab0{
	margin-left:8px !important;
}
#gview_myTab2 .ui-jqgrid-bdiv {
    height: 85% !important;
}
input[type="checkbox"]#cb_problemTable{
	margin-left:8px !important;
}
input[type="checkbox"]#cb_incidentTable{
	margin-left:8px !important;
}
input[type="checkbox"]#cb_problemTab{
	margin-left:8px !important;
}
input[type="checkbox"]#cb_incidenceTab{
	margin-left:8px !important;
}
/* 事件表，问题表 */
#itableDiv .ui-jqgrid-btable .ui-widget-content.ui-priority-secondary{
	background:none
}
#ptableDiv .ui-jqgrid-btable .ui-widget-content.ui-priority-secondary{
	background:none
}