<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN HEAD -->

<head th:fragment="head(title,cssPaths)">

    <meta charset="utf-8" />

    <title th:text="${title}">Metronic | Layouts - Blank Page</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link th:href="@{/assets/css/bootstrap.min.css}"  rel="stylesheet" type="text/css"/>

    <link th:href="@{/assets/css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/assets/css/style-metro.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/assets/css/style-responsive.css}"  rel="stylesheet" type="text/css"/>

    <link th:href="@{/assets/css/default.css}"  rel="stylesheet" type="text/css" id="style_color"/>

    <link th:href="@{/assets/css/uniform.default.css}"  rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->

    <link rel="shortcut icon" th:href="@{/assets/image/favicon.ico}" />



    <link rel="stylesheet" type="text/css" th:each="cssPath,status:${#strings.setSplit(cssPaths,',')}" th:href="@{${cssPath}}"/>

</head>
<!-- END HEAD -->


</html>